<?xml version="1.0"?>
<launch>
  <rosparam file="$(find abb120_moveit_config1)/config/ros_controllers_egm_position.yaml"
            command="load" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen"
        args="abbarm_egm_position_controller controller_gazebo_hand" />
</launch>
