<?xml version="1.0"?>
<launch>
  <arg name="gazebo_gui" default="true"/>
  <arg name="rviz" default="false"/>
  <arg name="cycles" default="3"/>
  <arg name="shutdown_on_task_exit" default="false"/>
  <include file="$(find handarm_sim_demo)/launch/simulation_baseline.launch">
    <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
    <arg name="rviz" value="$(arg rviz)"/>
    <arg name="start_moveit" value="false"/>
    <arg name="initialize_arm_trajectory" value="true"/>
    <arg name="simulation" value="true"/>
    <arg name="use_real_robot" value="false"/>
    <arg name="use_real_hand" value="false"/>
  </include>
  <node name="run_hand_cycle_tests" pkg="handarm_sim_demo"
        type="run_hand_cycle_tests.py" output="screen"
        required="$(arg shutdown_on_task_exit)">
    <param name="hand_config" value="$(find handarm_sim_demo)/config/hand_commands.yaml"/>
    <param name="cycles" value="$(arg cycles)"/>
  </node>
</launch>
